$color__background-body: #171716;
$color__colorbackground-header: rgb(18, 71, 131);
$color__colorbackground-barre: rgb(109, 99, 99);
$color__colorbackground-main: rgb(82, 73, 73);
$color__colorbackground-footer: rgb(18, 71, 131);


$color__link: rgb(0, 0, 0);
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: rgb(224, 224, 224);
$background__link-hover: rgb(58, 51, 51);